@import url('https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css');

/* #region:Atkinson */
/* regular */
@font-face {
	font-family: 'Atkinson-Hyperlegible';
	src: url('../fonts/atkinson/woff2/Atkinson-Hyperlegible-Regular-102a.woff2')
			format('woff2'),
		url('../fonts/atkinson/woff/Atkinson-Hyperlegible-Regular-102.woff')
			format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

/* bold */
@font-face {
	font-family: 'Atkinson-Hyperlegible';
	src: url('../fonts/atkinson/woff2/Atkinson-Hyperlegible-Bold-102a.woff2')
			format('woff2'),
		url('../fonts/atkinson/woff/Atkinson-Hyperlegible-Bold-102.woff')
			format('woff');
	font-weight: bold;
	font-style: normal;
}

/* italics */
@font-face {
	font-family: 'Atkinson-Hyperlegible';
	src: url('../fonts/atkinson/woff2/Atkinson-Hyperlegible-Italic-102a.woff2')
			format('woff2'),
		url('../fonts/atkinson/woff/Atkinson-Hyperlegible-Italic-102.woff')
			format('woff');
	font-weight: normal;
	font-style: italic;
}
/* bold italics */
@font-face {
	font-family: 'Atkinson-Hyperlegible';
	src: url('../fonts/atkinson/woff2/Atkinson-Hyperlegible-BoldItalic-102a.woff2')
			format('woff2'),
		url('../fonts/atkinson/woff/Atkinson-Hyperlegible-BoldItalic-102.woff')
			format('woff');
	font-weight: bold;
	font-style: italic;
}
/* #endregion:Atkinson */

/* #region:Panamera */
@font-face {
	font-family: 'Panamera';
	src: url('../fonts/Panamera/woff2/Panamera-Light.woff2')
			format('woff2'),
		url('../fonts/Panamera/woff/Panamera-Light.woff')
			format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

/* #endregion:Panamera */

:root {
	/* --black: hsl(180, 1%, 14%); */
	--bHue: 180;
	--bSatL: 1%;
	--bLight: 14%;
	/* --white: hsl(120, 25%, 95%); */
	--wHue: 120;
	--wSatL: 25%;
	--wLight: 95%;

	/* CSS HSL */
	--dark-electric-blue: hsl(210, 45%, 45%);
	--light-coral: hsl(0, 78%, 77%);
	--peach: hsl(39, 100%, 84%);

	--bgHue: var(--bHue);
	--bgSat: var(--bSatL);
	--bgLight: var(--bLight);
	--bg: hsl(var(--bgHue), var(--bgSat), var(--bgLight));
	--textHue: var(--wHue);
	--textSat: var(--wSatL);
	--textLight: var(--wLight);
	--text: hsl(var(--textHue), var(--textSat), var(--textLight));

	--shadow: hsla(
		var(--textHue),
		var(--textSat),
		var(--textLight),
		25%
	);
	--primary: var(--dark-electric-blue);
	--secondary: var(--light-coral);
	--tertiary: var(--peach);

	--noise: url(../images/egg-shell.png);

	--font-ratio: 1.333;

	--font-minimum-size: 15;
	--font-minimum-size-pixels: calc(var(--font-minimum-size) * 1px);
	--font-maximum-size: 21;
	--font-medium: calc(
		var(--font-minimum-size-pixels) +
			(var(--font-maximum-size) - var(--font-minimum-size)) *
			((100vw - 320px) / (1280 - 300))
	);
	--font-large: calc(var(--font-medium) * var(--font-ratio));
	--font-extra-large: calc(var(--font-large) * var(--font-ratio));
	--font-extra-extra-large: calc(
		var(--font-large) * var(--font-ratio)
	);

	--font-small: calc(
		var(--font-medium) / var(--font-inverse-ratio)
	);
	--font-extra-small: calc(
		var(--font-small) / var(--font-inverse-ratio)
	);
}

@media (prefers-color-scheme: light) {
	:root {
		--bgHue: var(--wHue);
		--bgSat: var(--wSatL);
		--bgLight: var(--wLight);
		--textHue: var(--bHue);
		--textSat: var(--bSatL);
		--textLight: var(--bLight);
	}
}

.stack,
.small-stack {
	margin-left: auto;
	margin-right: auto;
}
.stack > * + * {
	margin-top: 2rem;
}

.small-stack > * + * {
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
}

body {
	color: var(--text);
	background: var(--noise), var(--bg);
	display: grid;
	grid-template-columns:
		minmax(2ch, 1fr) minmax(200px, 66rem)
		minmax(2ch, 1fr);
	grid-template-rows: min-content 1fr min-content;
	grid-template-areas:
		'lHeader header rHeader'
		'leftSidebar main rightSidebar'
		'footer footer footer';

	gap: 0 1rem;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	row-gap: 3rem;
	line-height: 1.8;
	overflow-wrap: break-word;
	word-wrap: break-word;
	line-break: loose;
	font-family: Atkinson-Hyperlegible;
	font-size: var(--font-medium);
}
header {
	grid-area: header;
	height: min-content;
	/* align-items: center; */
	text-align: center;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	width: 100%;
	/* width: min-content; */
	box-shadow: 0rem 0rem 0.25rem 0.25rem var(--shadow);
	margin-block-start: 2rem;
	font-family: 'Panamera';
	/* margin-top: ; */
}

h1 {
	/* width: 100%; */
	font-size: var(--font-extra-extra-large);
	text-align: center;
}
header > h5 {
	font-size: var(--font-small);
}

#content {
	grid-area: main;
	font-family: 'Atkinson-Hyperlegible';
	width: 100%;
}
#content > * {
	margin-left: auto;
	margin-right: auto;
}
.chartContainer {
	position: relative;
}
.chartSquare {
	width: min(max(100%, 5rem), 23rem);
	height: fit-content;
}
.chartWide {
	height: fit-content;
	/* width: min(max(100%, 5rem), 23rem); */
}
footer {
	grid-area: footer;
	text-align: center;
	margin: auto;
}
